@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&display=swap');

:root {
    --main-color: #FFFFFF;;
    --secondary-color: #C0C0C0;
    --accent-color: #167BF7;
    --accent-hover-color: #3C92fA;
    --hollow-hover-color: rgba(255, 255, 255, 0.1);
    --background-color: #00030c;

    --font-family: "Inter", sans-serif;
    --bold-font-weight: 700;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__block {
    margin: 0em 6em;
}

.main__content__title {
    font-weight: var(--bold-font-weight);
    font-size: 1.8rem;
}

.container__image {
    margin: 1em 0 2em 0;
}

.container__button {
    text-decoration: none;
    color: var(--main-color);
    display: block;
    padding: 1em;
    border-radius: 1.15vh;
    background-color: var(--accent-color);
    margin-bottom: 1em;
}

.container__button:hover {
    background-color: var(--accent-hover-color);
    color: var(--background-color);
}

.secondary_button {
    background-color: transparent;
    border: 1px solid var(--main-color);
}

.secondary_button:hover {
    background-color: var(--hollow-hover-color);
    color: var(--main-color);
}

.container__warning {
    color: var(--secondary-color);
    font-size: .75rem;
}

.secondary {
    align-items: center;
    margin: 0 10em;
}

.secondary__image {
    width: 100%;
}

.description__title {
    font-weight: var(--bold-font-weight);
    font-size: 3rem;
    margin-bottom: 0.1em;
}

.container__description {
    padding: 2em;
}

.description__text {
    color: var(--secondary-color);
}

.description__button {
    display: inline-block;
    margin-top: 1em;
}

.devices {
    text-align: center;
}

.devices__title {
    font-size: 3rem;
}

.devices__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.devices__list__label {
    font-size: 2rem;
}

.footer {
    text-align: center;
}

.footer__logo {
    margin: 7em 0 3em 0;
}

.footer__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1em;
    margin-bottom: 2em;
}

.footer__list__link {
    color: var(--font-family);
    text-decoration: none;
    font-size: 1rem;
}

.footer__list__link:hover {
    color: var(--secondary-color);
}

.footer__list__link:active {
    text-decoration: underline;
}

.footer__text {
    color: var(--secondary-color);
    font-size: .875rem;
    margin: 2em 6em;
}



